/* Formatear html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*quitar y agregar scrollbar personalizado*/
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #fba3a4;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #faefd8;
}



/* Primary font*/
@font-face {
    font-family: 'dr-agu-sans-bold-bold';
    src: url(../fonts/dr-agu-sans-bold-bold.ttf);
    font-weight: bold;
    font-style: bold;
}

/* Secundary Font*/
@font-face {
    font-family: 'Merge Pro Bold';
    src: url(../fonts/Merge\ Pro\ Bold.ttf);
    font-weight: bold;
    font-style: bold;
}

/* Header */
header {
    background-color: #faefd8;
    padding: 2rem;
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            img {
                width: 10rem;
            }
        }

        .menu {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                
                li {
                    list-style: none;
                    margin: 0 1rem;

                    a {
                        font-family: 'Merge Pro Bold';
                        font-size: 1.5rem;
                        color: #358091;
                        text-decoration: none;
                        transition: all 0.3s ease;

                        &:hover {
                            color: #fba3a4;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }


}

/* main */
main {
    .presentation {
        background-color: #faefd8;
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
        justify-content: center;

        .presentation__left {
            padding: 2rem;
            margin: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-family: 'dr-agu-sans-bold-bold';
                font-size: 5rem;
                color: #fba3a4;
            }

            a {
                padding: 1rem 2rem;
                margin-top: 2rem;
                background-color: #358091;
                color: white;
                border-radius: 10px;
                font-family: 'Merge Pro Bold';
                font-size: 1.5rem;
                text-decoration: none;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #fba3a4;
                    color: white;
                    transform: scale(1.1);
                }
            }

        }

        .presentation__right {
            img {
                width: 100%;
            }
        }
    }

    .about {
        background-color: #fba3a4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        padding: 2rem;

        .about__left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2rem;

            h2 {
                font-family: 'dr-agu-sans-bold-bold';
                font-size: 3.5rem;
                color: #358091;
            }

            img {
                width: 100%;
                border-radius: 50%;
                margin: 2rem;
            }
        }

        .about__right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-family: 'Merge Pro Bold';
                font-size: 1.5rem;
                color: #358091;
                margin-bottom: 2rem;
            }

        }
    }

    .services {
        background-color: #358091;
        padding: 5rem;

        h2 {
            text-align: center;
            color: #faefd8;
            font-family: 'dr-agu-sans-bold-bold';
            font-size: 3.5rem;
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;

            .services__card {
                background-color: #faefd8;
                padding: 2rem;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 100%;

                img {
                    width: 5rem;
                    margin-bottom: 2rem;
                }

                h3 {
                    font-family: 'dr-agu-sans-bold-bold';
                    font-size: 2.5rem;
                    color: #fba3a4;
                    margin-bottom: 2rem;
                }

                p {
                    font-family: 'Merge Pro Bold';
                    font-size: 1.5rem;
                    color: #358091;
                    margin-bottom: 2rem;
                }
            }

        }
    }

}

footer {
    background-color: #fba3a4;
    padding: 2rem;

    h3 {
        font-family: 'dr-agu-sans-bold-bold';
        font-size: 3.5rem;
        color: #358091;
        margin-bottom: 2rem;
        text-align: center;
    }

    .footer__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-content: center;
        align-items: center;

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-family: 'Merge Pro Bold';
                font-size: 1.5rem;
                color: #358091;
                text-align: center;
            }

            .rrss {
                align-items: center;

                a {
                    /* quitar subrayado */
                    text-decoration: none;
                    
                    i {
                        font-size: 1.5rem;
                        color: #358091;
                        margin: 1rem;
                        transition: all 0.3s ease;

                        &:hover {
                            color: #faefd8;
                            transform: scale(1.1);
                        }
                    }
                }

            }

        }

        .right {
            p {
                font-family: 'Merge Pro Bold';
                font-size: 1.5rem;
                color: #358091;
                text-align: center;
            }
        }
    }
}

/*Media Queries*/
@media (max-width: 990px) {
    main .presentation .presentation__left {
        h1 {
            font-size: 3rem;
        }
        a {
            padding: 1rem 1rem;
        }
    }

    main .services .cards {
    grid-template-columns: repeat(1, 1fr);
    }
}




